{% extends "base.html" %}
{% block content %}
<h3>Thêm từ mới</h3>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Word</label>
    <input class="form-control" name="word" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Meaning</label>
    <input class="form-control" name="meaning">
  </div>
  <div class="mb-3">
    <label class="form-label">Topic</label>
    <input class="form-control" name="topic" required>
  </div>
  <button class="btn btn-success" type="submit">Save</button>
  <a href="{{ url_for('vocabulary') }}" class="btn btn-secondary">Back</a>
</form>
{% endblock %}
